<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What\'s a resource?') }}</h2>
  <div class="module-content">
    <p>{{ _('A resource can be any file or link to a file containing useful data.') }}</p>
  </div>
  
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Formati dei tipi di risorsa') }}</h2>
  <div class="module-content">
    <p>{{ _('I tipi di risorse più comuni sono: CSV, shp, XML') }}</p>
  </div>  
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('file CSV corretti') }}</h2>
  <div class="module-content">
    <p>{{ _('Per i file CSV è importante seguire poche semplici regole prima di fare l\'upload:') }}</p>
	<ul>
	<li>
		{{ _('Verificare che nella prima riga ci siano i nomi delle colonne') }}
	</li>
	<li>
		{{ _('Verificare che le colonne siano separate da , (virgola)') }}
	</li>
	<li>
		{{ _('Verificare che i dati nelle colonne siano compresi tra "') }}
	</li>
	</ul>    
  </div>
</section>
