<section class="module module-narrow module-shallow">
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Formati di risorsa') }}</h2>
  <div class="module-content">
    <p>{{ _('I formati più comuni delle risorse sono: CSV, SHP, XML, RDF') }}</p>
  </div>  
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('File CSV corretti') }}</h2>
  <div class="module-content">
    <p>{{ _('Per i file CSV è importante seguire poche semplici regole prima di fare l\'upload:') }}</p>
	<ul>
	<li>
		{{ _('Nomi delle colonne nella prima riga') }}
	</li>
	<li>
		{{ _('Colonne separate da , (virgola)') }}
	</li>
	<li>
		{{ _('Dati nelle colonne compresi tra "') }}
	</li>
	</ul>    
  </div>

  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Controllo dei file CSV') }}</h2>
  <div class="module-content">
    <p>{{ _('Al termine dell\'upload i file in formato CSV verrano controllati per assicurarsi che non contengano errori') }}</p>
  </div>  
  
  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Conversione di file Excell') }}</h2>
  <div class="module-content">
    <p>{{ _('Al termine dell\'upload i file in formato xls(x) verrano automaticamente convertiti in file CSV') }}</p>
  </div>  

  <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('Trattamento di Shape file') }}</h2>
  <div class="module-content">
    <p>{{ _('Al termine dell\'upload i file in formato shape (devono essere compressi in zip) verrano inviati a Geonode per la generazione della preview geografica') }}</p>
  </div>  


    
</section>
