{% ckan_extends %}


{% block primary_content_inner %}
  {{ super() }}
  
  	{{ _('test resource:') resource }}
  	{{ _('test data:') data_dict }}
    <div class="alert alert-error">
      <strong>{{ _('Upload error:') }}</strong> {{ status.error.message }}
    </div>
	
  {% if status.error and status.error.message %}
  	{{ _('test resource:') resource }}
  	{{ _('test data:') data_dict }}
    <div class="alert alert-error">
      <strong>{{ _('Upload error:') }}</strong> {{ status.error.message }}
    </div>
  {% elif status.task_info and status.task_info.error %}
    {% set show_table = false %}
    <div class="alert alert-error">
      <strong>{{ _('Error:') }}</strong> {{ status.task_info.error }}
    </div>
  {% endif %}


{% endblock %}
